.wordcontent{
	color:#696969;
	font-size:18px
}
.imgdx{
	width:300px;
	height:200px
}
.job_detail{
	color:#696969;
	font-size:16px
}
.headh1content{
	margin-top: 150px;
	line-height:75px ;
	
}
.title-text{
	margin-left: 50px;
}
.headfontsize h1{
	font-size: 50px;
	color:#ffffff;
}
.headfontsize p{
	color:#ffffff;
}

